.main-image {
    img {
        width: 100%;
        border-radius: 1rem;
    }
}

.selection-image {
    img {
        width: 100%;
        border-radius: 1rem;
        cursor: pointer;
        transition: 0.1s opacity;

        &:hover {
            opacity: 0.8;
        }
    }
}

@media (max-width: 768px) {
    .hero-image {
        height: 35vh;
    }
}

@media (max-width: 480px) {
    .grid {
        gap: 0.5rem
    }
}