:root {
    --primary-colour: #267bc5;
    --primary-colour-rgb: 38 123 197;
    --primary-colour-secondary: #557ebb;
    --secondary-colour: #E98520;
    --white: #FFFFFF;
    --black: #070D0E;
    --swiper-theme-color: var(--primary-colour-secondary);
}

$error-colour: #da0707;
$error-colour-hover: #a70606;
$secondary-colour: #E98520;
$secondary-colour-hover: #a75c12;

$primary-colour-secondary: #557ebb;
$primary-colour-secondary-hover: #385b8f;