:root {
    --primary-colour: #267bc5;
    --primary-colour-rgb: 38 123 197;
    --primary-colour-secondary: #557ebb;
    --secondary-colour: #E98520;
    --white: #FFFFFF;
    --black: #070D0E;
    --swiper-theme-color: var(--primary-colour-secondary);
}