@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import '_variables.scss';

@font-face {
    font-family: 'Spline Sans';
    src: url('/assets/static/fonts/SplineSans-Regular.woff2');
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/static/fonts/Poppins-Light.woff2');
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spline Sans', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #635bff;

    &:hover {
        color: gray;
    }
}

button {
    font-family: 'Spline Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.required-asterisk{
    color: $error-colour;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

.button {
    padding: 6px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
    transition-property: background-color;
    font-weight: bold;
    border: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;

    &:disabled {
        background-color: rgba($color: #464646, $alpha: 0.5)!important;
        cursor: not-allowed;
    }

    &.transparent {
        background-color: hsla(0, 0%, 100%, 0.2);
        color: white;

        &:hover {
            background-color: hsla(0, 0%, 100%, 0.4);
        }
    }

    &.white {
        color: black;
        background-color: hsl(0, 0%, 100%);

        &:hover {
            background-color: hsl(0, 0%, 90%);
        }
    }

    &.primary {
        color: white;
        background-color: var(--primary-colour);

        &:hover {
            background-color: #1f66a3;
        }
    }

    &.primary-secondary {
        color: white;
        background-color: $primary-colour-secondary;

        &:hover {
            background-color: $primary-colour-secondary-hover;
        }
    }

    &.secondary {
        color: white;
        background-color: $secondary-colour;

        &:hover {
            background-color: $secondary-colour-hover;
        }
    }

    &.danger {
        color: white;
        background-color: $error-colour;

        &:hover {
            background-color: $error-colour-hover;
        }
    }

    &.grey {
        color: black;
        background-color: rgb(235, 235, 235);

        &:hover {
            background-color: #d4d4d4;
        }
    }

    &.large {
        font-size: 1.3rem;
    }

    &.small {
        font-size: 0.9em;
    }
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;

    &.first {
        padding-top: 80px;
    }
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

// Flex helpers
.d-flex {
    display: flex;
}

.flex-align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-justify-content-between {
    justify-content: space-between;
}

.flex-justify-items-center {
    justify-content: center;
}

.flex-justify-flex-end {
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap!important;
}

.flex-item-50 {
    width: 50%;
}

.flex-item-100 {
    width: 100%;
}

.flex-1 {
    flex: 1;
}
// Flex helpers end

// Text helpers
.text-large {
    font-size: 4rem;
    font-weight: bold;
}

.text-section-header {
    font-size: 2rem;
    font-weight: bold;
}

.text-centre {
    text-align: center;
}

.white {
    color: white;
}

.text-muted {
    color: gray;
}
// Text helpers end

.swiper {
    width: 100%;
    height: 600px;
    border-radius: 1rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    border-radius: 0.4rem;
    padding: 2rem 3.5rem;

    h2 {
        font-size: 2rem;
    }
}

.shadow-sm {
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.2);
}

blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

// Grid system
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;

    .col-2 {
        grid-column: auto/span 2;
    }

    .col-3 {
        grid-column: auto/span 3;
    }

    .col-4 {
        grid-column: auto/span 4;
    }

    .col-6 {
        grid-column: auto/span 6;
    }

    .col-8 {
        grid-column: auto/span 8;
    }

    .col-12 {
        grid-column: auto/span 12;
    }
}
// Grid system end

// Padding/Margin utilities
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-1 {
    margin: 1rem 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

// Padding/Margin utilities end

.overflow-hidden {
    overflow: hidden;
}

.position-relative {
    position: relative;
}

.alert {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;

    &.info {
        background-color: rgb(215, 230, 250);
        color: rgb(17, 73, 99);
    }
}

// Forms
.input-container {
    margin: 0 0 1.5rem 0;

    input, textarea {
        padding: 8px 14px;
        border-radius: 5px;
        border: 1px rgba(128, 128, 128, 0.322) solid;
        margin: 0.5rem 0;
        width: 100%;
        font-size: 16px;
        line-height: 28px;
        outline-width: 0;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        min-height: 44px;
        font-family: inherit;
        max-width: 400px;
    
        &:focus {
            border-color: var(--primary-colour);
            box-shadow: 0 0 0 0.25rem rgb(var(--primary-colour-rgb) / 25%);
    
            &.ng-dirty.ng-invalid:not(.ng-untouched) {
                border-color: $error-colour;
                box-shadow: 0 0 0 0.25rem rgba($color: $error-colour, $alpha: 0.25);
            }
        }
    
        &.ng-dirty.ng-invalid:not(.ng-untouched) {
            border: 1px rgba($color: $error-colour, $alpha: 1.0) solid;
        }
    }

    &.hint {
        margin-bottom: 0;

        input {
            margin-bottom: 0;
        }
    }
}

.error-hint {
    color: $error-colour;
    padding: 6px 0 7px 0;
    min-height: 32px;

    small {
        display: block;
    }
}

.form-centre {
    min-width: 400px;
    padding-top: 2rem;
}

label {
    display: block;
    color: rgb(79, 77, 104);
    font-size: 14px;
    font-weight: bold;
    font-stretch: expanded;
}
// Forms end

// Table styling
.table-container {
    overflow-x: auto;
    
}

table {
    width: 100%;
    min-width: 768px;
    border-collapse: collapse;
    margin: 25px 0;
    border-spacing: 0px;
    
    thead tr {
        background-color: $primary-colour-secondary;
        color: white;
        text-align: left;
    }

    th:first-of-type {
        border-top-left-radius: 10px;
    }

    th:last-of-type {
        border-top-right-radius: 10px;
    }

    th, td {
        padding: 12px 15px;
    }

    tbody tr {
        border-bottom: thin solid #dddddd;

        .action-buttons {
            text-align: right;
            min-width: 100px;
        }

        &:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        &:last-of-type {
            border-bottom: 2px solid $primary-colour-secondary;
        }
    }

    i {
        font-size: 1.5em;

        &.bi-pencil {
            color: rgb(83, 83, 83);
            transition: 0.1s color;
            cursor: pointer;

            &:hover {
                color: rgb(43, 43, 43);
            }
        }

        &.bi-trash {
            color: $error-colour;
            transition: 0.1s color;
            cursor: pointer;

            &:hover {
                color: $error-colour-hover
            }
        }
    }
}
// Table styling end

// Media queries start
@media (max-width: 1024px) {
    .text-large {
        font-size: 3.5rem;
    }

    .container {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 98%;
    }

    .text-large {
        font-size: 3rem;
        text-align: center;
    }
    
    .d-flex {
        flex-wrap: wrap;
    }

    .flex-item-50 {
        width: 100%;
    }

    .grid {
        .col-6 {
            grid-column: auto/span 12;
        }

        .col-4 {
            grid-column: auto/span 6;
        }
    }

    .text-centre-md {
        text-align: center;
    }

    .text-section-header {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .form-centre {
        width: 100%;
        min-width: initial;
    }

    .grid {
        .col-4 {
            grid-column: auto/span 12;
        }
    }
}
// Media queries end
