@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import '_variables.scss';

@font-face {
    font-family: 'Spline Sans';
    src: url('/assets/static/fonts/SplineSans-Regular.woff2');
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/static/fonts/Poppins-Light.woff2');
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spline Sans', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #635bff;

    &:hover {
        color: gray;
    }
}

.button {
    padding: 6px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.1s;
    transition-property: background-color;
    font-weight: bold;
    border: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;

    &.transparent {
        background-color: hsla(0, 0%, 100%, 0.2);
        color: white;

        &:hover {
            background-color: hsla(0, 0%, 100%, 0.4);
        }
    }

    &.white {
        color: black;
        background-color: hsl(0, 0%, 100%);

        &:hover {
            background-color: hsl(0, 0%, 90%);
        }
    }

    &.primary {
        color: white;
        background-color: var(--primary-colour);

        &:hover {
            background-color: var(--primary-colour);
        }
    }

    &.large {
        font-size: 1.3rem;
    }
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;

    &.first {
        padding-top: 80px;
    }
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

// Flex helpers
.d-flex {
    display: flex;
}

.flex-align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-justify-content-between {
    justify-content: space-between;
}

.flex-justify-items-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-50 {
    width: 50%;
}
// Flex helpers end

.text-large {
    font-size: 7rem;
    font-weight: bold;
}

.text-section-header {
    font-size: 2.5rem;
    font-weight: bold;
}

.text-centre {
    text-align: center;
}

.white {
    color: white;
}

.swiper {
    width: 100%;
    height: 600px;
    border-radius: 1rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.2);
    border-radius: 0.4rem;
    padding: 2rem 3.5rem;

    h2 {
        font-size: 2rem;
    }
}

// Grid system
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    .col-2 {
        grid-column: auto/span 2;
    }

    .col-3 {
        grid-column: auto/span 3;
    }

    .col-4 {
        grid-column: auto/span 4;
    }

    .col-6 {
        grid-column: auto/span 6;
    }

    .col-8 {
        grid-column: auto/span 8;
    }

    .col-12 {
        grid-column: auto/span 8;
    }
}
// Grid system end

// Padding/Margin utilities

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.my-1 {
    margin: 1rem 0;
}

.pt-1 {
    padding-top: 1rem;
}

// Padding/Margin utilities end
.footer-background-mask-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer-background-mask {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 100% 0;
    transform: skewY(-3deg);
    background: #f6f9fc;
}

.footer-content {
    padding-top: 6.5rem;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}
