<div class="hero-image">
    <div class="container first">
        <h1 class="text-large white hero-text position-relative">
            Gallery
        </h1>
    </div>
</div>
<main class="pt-1 pb-2">
    <div class="container">
        <h2>Lakes</h2>
        <app-gallery-selector [mainImage]="galleryItems.slice(0, 1)[0]" [galleryItems]="galleryItems.slice(1, 5)"></app-gallery-selector>
        <h2>Landscapes</h2>
        <app-gallery-selector [mainImage]="galleryItems.slice(5, 6)[0]" [galleryItems]="galleryItems.slice(6, 10)"></app-gallery-selector>
        <h2>Man-made</h2>
        <app-gallery-selector [mainImage]="galleryItems.slice(10, 11)[0]" [galleryItems]="galleryItems.slice(11, 16)"></app-gallery-selector>
    </div>
</main>