.hero-image {
    width: 100%;
    background-image: url("/assets/static/images/6194015412_8487a871d4_b.jpg");
    background-size: cover;
    background-position: center;
    height: 45vh;
    position: relative;
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

