.container {
    min-height: 80vh;
}

.table-paginator {
    span {
        background-color: #ebebeb;
        padding: 6px 20px;
        border-radius: 20px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-right: 1rem;
    }

    .button.grey {
        margin-right: 0.5rem;
    }
}