<div class="hero-image">
    <div class="container first">
        <div class="d-flex h-100 flex-align-items-center">
            <div class="flex-item-50">
                <h1 class="text-large white hero-text">
                    Photography done right.
                </h1>
            </div>
            <div class="flex-item-50">
                <div class="image-stack">
                    <div class="image-stack-item">
                        <div class="polaroid">
                            <img src="/assets/static/images/3927516198_0e2e033c1e_o.jpg" alt="Old harbour">
                        </div>
                    </div>
                    <div class="image-stack-item">
                        <div class="polaroid">
                            <img src="/assets/static/images/4991381941_8bb81ac04a_b.jpg" alt="Mountain lake">
                        </div>
                    </div>
                    <div class="image-stack-item">
                        <div class="polaroid">
                            <img src="/assets/static/images/6994151422_3d9cd8546a_b.jpg" alt="Wave beach">
                        </div>
                    </div>
                    <div class="image-stack-item text-centre">
                        <a href="/gallery" class="button white large"><span>View our work <i class="bi bi-arrow-right-short"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<section class="container">
    <h2 class="text-section-header">Examples of our work</h2>
    <app-carousel></app-carousel>
</section>
<section class="container pt-1">
    <div class="cards-container">
        <div class="card">
            <h1>Test card</h1>
            <p>Some content goes here</p>
        </div>
        <div class="card">
            <h1>Test card</h1>
            <p>Some content goes here</p>
        </div>
    </div>
</section>
<div style="height: 1800px;">

</div>