.container {
    height: 100vh;
}

.input-container {
    margin: 1.5rem 0;
}

.login-form {
    min-width: 400px;
}

label {
    display: block;
    color: rgb(79, 77, 104);
    font-size: 14px;
    font-weight: bold;
    font-stretch: expanded;
}

input {
    padding: 8px 14px;
    border-radius: 5px;
    border: 1px rgba(128, 128, 128, 0.322) solid;
    margin: 0.5rem 0;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    outline-width: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 44px;

    &:focus {
        border-color: var(--primary-colour);
        box-shadow: 0 0 0 0.25rem rgb(var(--primary-colour-rgb) / 25%);
    }
}

.forgot-password {
    font-size: 14px;
    justify-content: space-between;
}