header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    color: white;
    z-index: 3;
}

.nav-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.dark {
        ul {  
            a {
                color: rgb(0, 0, 0);
            }

            li:hover {
                background-color: rgba(0, 0, 0, 0.082);
            }
            
            a:hover {
                color: rgb(54, 54, 54);
            }
        }

        .button {       
            &.transparent {
                background-color: hsla(0, 0%, 0%, 0.068);
                color: rgb(0, 0, 0);
        
                &:hover {
                    background-color: hsla(0, 0%, 0%, 0.185);
                }
            }
        }
    }
}

.logo-container {
    text-decoration: none;
}

.logo {
    height: 60px;
    transition: 0.2s opacity;
    display: block;

    &:hover {
        opacity: 0.8;
    }
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 6px 20px;
        border-radius: 2rem;
        transition: 0.1s background-color;
    }

    li:hover {
        background-color: rgba(255, 255, 255, 0.151);
    }

    a {
        text-decoration: none;
        color: white;
        transition: 0.1s color;
        font-weight: bold;
    }
    
    a:hover {
        color: rgb(219, 219, 219);
    }
}

