<footer>
    <div class="footer-background-mask-container">
        <div class="footer-background-mask"></div>
    </div>
    <div class="container footer-content">
        <div class="d-flex flex-align-items-center flex-justify-content-between flex-wrap">
            <div class="footer-logo d-flex flex-align-items-center">
                <img src="/assets/static/images/logo-dark.png" alt="Footer-logo">
                <span class="ml-1 text-muted">&copy; {{year}} Hazel</span>
            </div>
            <ul class="footer-links">
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/about']">About</a></li>
                <li><a [routerLink]="['/services']">Services</a></li>
                <li><a [routerLink]="['/gallery']">Gallery</a></li>
                <li><a [routerLink]="['/contact']">Contact Us</a></li>
            </ul>
            <ul class="footer-socials">
                <li><a href=""><i class="bi bi-facebook"></i></a></li>
                <li><a href=""><i class="bi bi-instagram"></i></a></li>
                <li><a href=""><i class="bi bi-linkedin"></i></a></li>
                <li><a href=""><i class="bi bi-twitter"></i></a></li>
                <li><a href=""><i class="bi bi-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</footer>