<swiper [pagination]="{ dynamicBullets: true}" [navigation]="true" [slidesPerView]="1" [loop]="true">
    <ng-template swiperSlide>
        <img src="/assets/static/images/5444490113_174f663ed2_b.jpg" alt="slide image one">
    </ng-template>
    <ng-template swiperSlide>
        <img src="/assets/static/images/6224049770_5d353af67c_b.jpg" alt="slide image two">
    </ng-template>
    <ng-template swiperSlide>
        <img src="/assets/static/images/6861648099_9fe7fa7287_b.jpg" alt="slide image three">
    </ng-template>
    <ng-template swiperSlide>
        <img src="/assets/static/images/13918258022_ddd7900237_b.jpg" alt="slide image four">
    </ng-template>
    <ng-template swiperSlide>
        <img src="/assets/static/images/15270039009_68c2b89058_k.jpg" alt="slide image five">
    </ng-template>
</swiper>