:host {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    padding: 5rem 2rem 1rem 0.5rem;
    z-index: 1000;
}

div {
    overflow: visible;
    transition: margin .3s linear;
    perspective: 60px;
    position: relative;

    &:not(:first-child) {
        margin-top: 15px;
    }
}