:host {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    z-index: 1000;
}

.toast-padding {
    div {
        padding-right: 2rem;

        &:first-child {
            padding-top: 5rem;
        }
    }
}

div {
    overflow: visible;
    transition: margin .3s linear;
    perspective: 60px;
    position: relative;

    &:not(:first-child) {
        margin-top: 15px;
    }
}